@mixin focusable() {
  background-color: $botw-black-background;
  color: $botw-yellow;
  appearance: none;
  border: none;
  border-radius: 0.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  font-style: italic;
  padding: 0.375rem;
  min-width: 16rem;
  min-height: 4rem;
  cursor: pointer;
  outline: 1px solid rgba($botw-yellow, 0.2);
  outline-offset: -0.25rem;
  position: relative;
  user-select: none;

  &:focus-within,
  &:hover {
    outline: 1px solid $botw-yellow;
    box-shadow: 0 0 0.25rem 0.25rem rgba($botw-yellow, 0.2),
      0 0 0.75rem 0.75rem rgba($botw-yellow, 0.2) inset;

    $corner-size: 0.75rem;
    $corner-animation-radius: 0.25rem;

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      border-top: $corner-size solid rgba($botw-yellow, 1);
      border-bottom: $corner-size solid rgba($botw-yellow, 1);
      filter: drop-shadow(0 0 0.5rem rgba($botw-yellow, 0.8));
    }

    &::before {
      border-right: $corner-size solid transparent;
      animation: botw-button-focus-left 300ms linear infinite alternate;
    }

    &::after {
      border-left: $corner-size solid transparent;
      animation: botw-button-focus-right 300ms linear infinite alternate;
    }

    @keyframes botw-button-focus-left {
      from {
        left: $corner-animation-radius;
        top: $corner-animation-radius;
        bottom: $corner-animation-radius;
      }
      to {
        left: -$corner-animation-radius;
        top: -$corner-animation-radius;
        bottom: -$corner-animation-radius;
      }
    }

    @keyframes botw-button-focus-right {
      from {
        right: $corner-animation-radius;
        top: $corner-animation-radius;
        bottom: $corner-animation-radius;
      }
      to {
        right: -$corner-animation-radius;
        top: -$corner-animation-radius;
        bottom: -$corner-animation-radius;
      }
    }
  }
}
